@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #292a2b;
}

.swiper-button-disabled{
  display:none;   
}
.btn{
  background: none;
  border: none;
  outline: none;
  padding: 0.1em 2.1em;
  width: fit-content;
  color: white;
  border-radius: 1.7em;
}
.app{
  padding: 1.3em;
    .wrapper{
      display: flex;
      width: 100%;
        
        .side--bar{
          position: fixed;
          width: 10%;
          height: 85vh;
          padding-left: 1.2em;
          padding-top: 1em;
          nav{
            display: flex;
            justify-content: center;
            width: 5em;
            height: 100%;
            background-color: #3a3d3f;
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
            box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
            border-radius: 0.8em;
            .pos-nav{
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              text-align: center;
              padding: 1em;
              header > svg{
                color: white;
                font-size: 2.4em;
              }
              svg{
                color: white;
                font-size: 1.7em;
              }
              .align-a{
                display: flex;
                flex-direction: column;
                padding-top: 3em;
                > *{
                  padding-bottom: 4.4em;
                }
              }
            }
          }
        }

      .main--section{
        margin-left: 8em;
        width: 90%;
          .top-bar{
            width: 100%;
            padding: 1em;
            
            z-index: 7;
            display: flex;
            .top-left{
              width: 100%;
              .search{
                display: flex;
                
                > svg{
                   height: inherit;
                   display: flex;
                   align-items: center;
                   color: white;
                   font-size: 1.5em;
                }
                input[type=text]{
                  width: 90%;
                  padding: 0.6em;
                  outline: none;
                  background: transparent;
                  font-weight: 650;
                  font-size: 1.2em;
                  color: white;
                  border: none;
                  margin-right: 1em;
                  &:focus{
                    border-bottom: 1px solid white;
                  }
                }   
                .btn-search{
                  border: 1px solid #fff;
                  font-size: 0.9em;
                  &:hover{
                    background: white;
                    color: black;
                  }
                }
              }   
            }
        }

        .content-container{
           margin-bottom: 2.4em;
        }
      }

    }
}


@media screen and (max-width: 1026px){
  .app{
    padding: 0;
    .wrapper{
      display: block;
      .side--bar{
        padding-left: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 4em;
        z-index: 7;
        nav{
          display: block;
          width: 100%;
          border-radius: none;
          .pos-nav{
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1em;
            align-items: center;
            .align-a{
              width: 100%;
              display: flex;
              flex-direction: row;
              padding-top: 0;
              justify-content: space-evenly;
              > *{
                padding: 0;
                padding-left: 1em;
              }
            }
          }
        }
      }
      .main--section{
        margin-left: 0;
        width: 100%;
        .top-bar{
          position: sticky;
        }
        .content-container{
          margin-top: 0em;
        }
      }
    }
  }
}






@media screen and (max-width: 500px){
  .app{
    .wrapper{
      .side--bar{
        nav{
          .pos-nav{
            width: 100%;
            padding: 0;
            header{
              font-size: 1.2em;
              display: none;
            }
            svg{
              font-size: 1.1em;
            }
             
        }
      }
    }
    .main--section{
      width: 100%;
      .top-bar{
      
        .top-left{
          width: 100%;
          font-size: 1em;
          .search{
            input[type=text]{
              font-size: 0.9em;
            }
            .btn-search{
              padding: 0.2em 0.8em;
            }
          }
        }
        .top-right{
          display: none;
        }
      }
    }
  }
}
}